@import 'tailwindcss';
@import 'tw-animate-css';
@import './tokens.css';

@custom-variant dark (&:is(.dark *));

@import './theme.css' layer(theme);

body {
  letter-spacing: var(--letter-spacing);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  pre {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--border);
      border-radius: 5px;
    }
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}
